html {
  font-size: 18px;
}

h1, h2 {
  font-family: 'Ranga', cursive;
}

header {
  border-bottom: 3px dashed purple;
}

.class-list {
  list-style-type: square;
}

.item {
  border: 1px double cadetblue;
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}
